#key_in
{
    padding-left: 10%;
    display: none;
}

.word
{
    font-size: 50px;
}
#meeting_name
{
    font-size: 20px;
}

#confirmed
{
    font-size: 20px;
    width: 80px;
    height: 45px;
}


/* .gpheight li
{
    list-style: none;
}

#Add
{
    
    left: 12%;
    top: 40%;
    width: 100px;
    height: 100px;
} */
 
